main h1 {
    margin-top: 230px !important;
}

main .store {
    color: rgb(18, 10, 70);
}

.contact {
    position: relative;
    font-size: 22px !important;
}

.contactForm .form-control {
    margin-left: 0px !important;
}

.contact::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 14%;
    background: #666;
    height: 2px;
    /* optional animation */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.contact:hover:after {
    width: 18%;
    background: orange;
}

.contact .contcatText {
    color: green;
}


/*Form group*/

.form input,
.form textarea {
    border-top-style: hidden;
    border-right-style: hidden;
    width: 450px;
    padding: 10px;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
}

.form-select {
    width: 450px !important;
    background-color: #EEE !important;
}

.no-outline:focus {
    outline: none;
}


/*Submit button*/

.sub .btn-hover {
    width: 450px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}


/*End Form*/


/*Social Media*/

.social img {
    max-width: 40px;
}


/*Xs*/

@media (max-width: 575.98px) {
    main h1 {
        margin-top: 290px !important;
        font-size: 16px;
        font-weight: bold;
    }
    .contact {
        font-size: 15px !important;
    }
    .form input,
    .form textarea {
        width: 220px;
        padding: 10px;
    }
    .sub .btn-hover {
        width: 220px;
    }
    .form-select {
        max-width: 220px !important;
        padding: 10px;
        background-color: #EEE !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {}


/*End small screen*/