    main h1 {
        margin-top: 15% !important;
        color: #16363b !important;
    }
    
    main .store {
        color: #2B5278;
    }
    
    .contact {
        position: relative;
        font-size: 22px !important;
    }
    
    .contactForm .form-control {
        margin-left: 0px !important;
    }
    
    .contact::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        width: 15%;
        background: #666;
        height: 2px;
        /* optional animation */
        -o-transition: .5s;
        -ms-transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }
    
    .contact:hover:after {
        width: 18%;
        background: #27CE8B;
    }
    
    .contact .contcatText {
        color: #27CE8B;
    }
    
    .social {
        display: flex;
        justify-content: end;
    }
    /*Form group*/
    
    .form input,
    .form textarea {
        border-top-style: hidden;
        border-right-style: hidden;
        width: 450px;
        padding: 10px;
        border-left-style: hidden;
        border-bottom-style: hidden;
        background-color: #eee;
    }
    
    .form-select {
        width: 450px !important;
        background-color: #EEE !important;
    }
    
    .no-outline:focus {
        outline: none;
    }
    /*Submit button*/
    
    .sub .btn-hover {
        width: 450px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        height: 55px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
        border-radius: 50px;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:hover {
        background-position: 100% 0;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    
    .btn-hover:focus {
        outline: none;
    }
    
    .btn-hover.color-7 {
        background-color: #2B5278;
        box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
        transition: 0.3s;
    }
    
    .btn-hover.color-7:hover {
        background-color: #16363b;
    }
    /*End Form*/
    /*Social Media*/
    
    .social img {
        max-width: 40px;
    }
    /*Xs*/
    
    @media (max-width: 575.98px) {
        main h1 {
            margin-top: 56% !important;
            font-size: 16px;
            font-weight: bold;
        }
        .contact {
            font-size: 18px !important;
        }
        .form input,
        .form textarea {
            width: 280px;
            padding: 10px;
        }
        .sub .btn-hover {
            width: 280px;
        }
        .form-select {
            max-width: 280px !important;
            padding: 10px;
            background-color: #EEE !important;
        }
        .contactTop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .contact::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            width: 74% !important;
            background: #666;
            height: 2px;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
        }
        .contactForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .social {
            display: flex;
            justify-content: center;
        }
    }
    
    @media (min-width: 576px) and (max-width: 767px) {
        main h1 {
            margin-top: 50% !important;
            font-size: 18px;
            font-weight: bold;
        }
        .contact::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            width: 65%;
            background: #666;
            height: 2px;
            /* optional animation */
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
        }
    }
    /*End small screen*/
    
    @media (min-width: 767.98px)and (max-width: 991px) {
        main h1 {
            margin-top: 45% !important;
            font-size: 20px;
            font-weight: bold;
        }
        .contact::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            width: 35%;
            background: #666;
            height: 2px;
            /* optional animation */
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s;
        }
    }
    /*Large Screen*/
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        main h1 {
            margin-top: 25% !important;
        }
    }