/*public*/

body {
    background-color: #EEE;
    height: 4000px;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
}


/*End Public*/


/*Top Navbar*/

.navst {
    background-color: #EEE !important;
}

.navst .navbar-brand img {
    max-width: 80% !important;
}


/*Search bar*/

.navst form .btn-secondary {
    color: #171e8c;
    background-color: #DDD;
    border-color: transparent;
}

.navst .LOGOMobile {
    display: none !important;
}

.navst .mobileLOGO {
    display: none !important;
}


/*Nav Icons*/

.navbar-nav .nav-item img {
    max-width: 70%;
    border-radius: 50%;
}


/*Customs Select options*/


/* The container must be positioned relative: */

.navst .custom-select {
    position: relative;
    font-family: Arial;
}

.navst .custom-select select {
    display: none;
    /*hide original SELECT element: */
}

.navst .select-selected {
    background-color: #DDD;
    color: rgb(53, 205, 50) !important;
}


/* Style the arrow inside the select element: */

.navst .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/* Point the arrow upwards when the select box is open (active): */

.navst .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
    color: #1b3f78 !important;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}


/* Style items (options): */

.navst .select-items {
    position: absolute;
    background-color: #EEE;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


/* Hide the items when the select box is closed: */

.navst .select-hide {
    display: none;
}

.navst .select-items div:hover,
.navst .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/*End Select options*/


/*Top Nav Screen Style*/

.navst .container .smallSearch {
    display: none !important;
}


/*Small Screen*/

@media (min-width: 576px) and (max-width: 767px) {
    .navst .container .LargeSearch {
        display: none !important;
    }
    .navst .container .smallSearch {
        display: block !important;
    }
    .navst .container .LOGOMobile {
        display: block !important;
    }
    .navst .container .LOGOLarge {
        display: none !important;
    }
    .navst .container .smallSearch {
        display: block !important;
        display: flex !important;
        flex-direction: row !important;
    }
    .navst .container .navbar-brand {
        width: 100% !important;
    }
    .navst .container .navbar-brand img {
        max-width: 100% !important;
        border-radius: 0 !important;
    }
    .navst .container .navbar-nav .nav-item img {
        max-width: 40%;
        border-radius: 50%;
    }
    .navst .container .navbar-nav {
        margin-bottom: 2%;
        display: flex !important;
        flex-direction: row !important;
    }
    .navst .mobileLOGO {
        display: block !important;
    }
}


/*End Small*/


/*Xs*/

@media (max-width: 575px) {
    .navst .container .LargeSearch {
        display: none !important;
    }
    .navst .container .smallSearch {
        display: block !important;
        display: flex !important;
        flex-direction: row !important;
    }
    .navst .container .navbar-brand img {
        max-width: 100% !important;
        border-radius: 0 !important;
    }
    .navst .container .navbar-nav .nav-item img {
        max-width: 40%;
        border-radius: 50%;
    }
    .navst .container .navbar-nav {
        padding-left: 3%;
        padding-right: 3%;
    }
    .navst .container .LOGOMobile {
        display: block !important;
    }
    .navst .container .LOGOLarge {
        display: none !important;
    }
    .navst .container .navbar-nav {
        margin-bottom: 5%;
        display: flex !important;
        flex-direction: row !important;
    }
    .navst .container .navbar-brand {
        width: 100% !important;
    }
    .navst .mobileLOGO {
        display: block !important;
    }
}


/*End Xs*/


/*Tab Screen*/

@media (min-width: 767.98px)and (max-width: 991px) {
    .navst .container .LargeSearch {
        display: none !important;
    }
    .navst .container .smallSearch {
        display: block !important;
        display: flex !important;
        flex-direction: row !important;
    }
    .navst .container .navbar-brand img {
        max-width: 100% !important;
        border-radius: 0 !important;
    }
    .navst .container .navbar-nav .nav-item img {
        max-width: 30%;
        border-radius: 50%;
    }
    .navst .container .navbar-nav {
        padding-left: 5%;
        padding-right: 5%;
    }
    .navst .container .LOGOMobile {
        display: block !important;
    }
    .navst .container .LOGOLarge {
        display: none !important;
    }
    .navst .container .navbar-nav {
        margin-bottom: 5%;
        display: flex !important;
        flex-direction: row !important;
    }
    .navst .container .navbar-brand {
        width: 100% !important;
    }
    .navst .mobileLOGO {
        display: block !important;
    }
}


/*End Tab*/


/*Large Screen*/

@media (min-width: 992px) and (max-width: 1199.98px) {}


/*End Top Nav Screen Style*/


/*Base Navbar*/

.baseNav .navbar-nav li a {
    color: white !important;
}

.baseNav {
    background-color: #5ba660 !important;
}

.baseNav .nav-item .nav-link img {
    max-width: 70%;
}

.baseNav .navIcon {
    display: flex !important;
    flex-direction: row !important;
}

.baseNav .dropdown-menu {
    background-color: #EEE;
}

.baseNav .dropdown-menu li a {
    color: rgb(23, 13, 58) !important;
}

.baseNav .menuMob {
    display: none;
}

.baseNav .buttonIPad {
    display: block;
}


/*Navbar Dep */

.navDep .nav-item {
    text-decoration: none !important;
    list-style: none !important;
}

.navDep .nav-item a {
    color: #fff !important;
    font-size: 22px;
}

.navDep .nav-item a:hover {
    color: #EEE !important;
    transition: 0.3s;
}

.navDep {
    display: flex !important;
    flex-direction: row;
}


/*End Navbar*/


/*side Navbar*/

.baseNav .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EEE;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.baseNav .sidenav a {
    padding: 6px 6px 6px 24px;
    text-decoration: none;
    font-size: 25px;
    color: #171e8c !important;
    display: block;
    transition: 0.3s;
}

.baseNav .sidenav a:hover {
    color: #f1f1f1;
}

.baseNav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .baseNav .sidenav {
        padding-top: 15px;
    }
    .baseNav .sidenav a {
        font-size: 18px;
    }
}


/*Xs*/

@media (max-width: 575px) {
    .baseNav .nav-item .nav-link img {
        max-width: 30%;
    }
    .baseNav .menuMob {
        display: block !important;
    }
    .baseNav .buttonIPad {
        display: none;
    }
    .offcanvas {
        background-color: #EEE !important;
    }
    .offcanvas .nav-item .nav-link {
        color: #171e8c !important;
    }
    .navDep {
        display: none !important;
    }
    .MenuLarge {
        display: none !important;
    }
}


/*End Xs*/


/*Small Screen*/

@media (min-width: 576px) and (max-width: 767px) {
    .navDep {
        display: none !important;
    }
    .MenuLarge {
        display: block !important;
        margin-top: 3%;
    }
    .baseNav .navIcon img {
        max-width: 90% !important;
    }
}


/*Tab Screen*/

@media (min-width: 767.98px)and (max-width: 991px) {
    .baseNav .navIcon img {
        max-width: 90% !important;
    }
    .sideNavContent {
        margin-top: 3%;
    }
    .navDep .nav-item a {
        color: #fff !important;
        font-size: 18px;
    }
}


/*End Tap Screen*/


/*Large Screen*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .baseNav .navIcon img {
        max-width: 90% !important;
    }
    .sideNavContent {
        margin-top: 2%;
    }
}


/*End Large Screen*/


/*End Base Navbar*/


/*End Header*/


/*Landing Page*/

@media (min-width: 767.98px)and (max-width: 991px) {
    #cover {
        margin-top: 25% !important;
    }
}

#cover {
    margin-top: 13% !important;
}

@media (max-width: 567px) {
    #carouselExampleControls {
        margin-top: 75%;
    }
    #carouselExampleControls img {
        height: 30vh !important;
    }
}

@media (min-width: 767.98px)and (max-width: 991px) {
    #cover {
        margin-top: 23% !important;
    }
    #carouselExampleControls img {
        height: 35vh !important;
    }
}


/*End Landing Page*/


/*Services*/

.services .card img {
    max-width: 260px;
    min-width: 255px;
    min-height: 250px;
    max-height: 251px;
}

.services .card-header {
    background-color: #fff !important;
}

.services .card-header h4,
.services .card-header i {
    color: #061f47 !important;
}

.services .card-header i {
    font-size: 24px !important;
    font-weight: bold;
}


/*Media for small screen*/


/*Xs*/

@media (min-width: 576px) and (max-width: 767px) {
    .services .card img {
        max-width: 140px;
        min-width: 138px;
        min-height: 200px;
        max-height: 201px;
    }
}


/*End small screen*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .services .card img {
        max-width: 180px;
        min-width: 178px;
        min-height: 200px;
        max-height: 201px;
    }
}


/*End Medium*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .app .card img {
        max-width: 850px !important;
    }
}


/*End services*/


/*App*/

.app .card img {
    max-width: 1000px;
}

.app .card-header {
    background-color: #fff !important;
}

.app .card-header h4,
.app .card-header i {
    color: #061f47 !important;
}

.app .card-header i {
    font-size: 24px !important;
    font-weight: bold;
}


/*Xs*/

@media (max-width: 575.98px) {
    .app .card img {
        max-width: 300px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .app .card img {
        max-width: 500px !important;
    }
}


/*End small screen*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .app .card img {
        max-width: 650px !important;
    }
}


/*End Medium*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .app .card img {
        max-width: 850px !important;
    }
}


/*End App*/

#brand h1 {
    color: #2c4f88 !important;
}


/*Top Brand*/


/*End Brand*/


/*Back to Top button*/

#myBtn {
    font-size: 10px;
    border: none;
    outline: none;
    background-color: #DDD;
    cursor: pointer;
    font-weight: bolder;
    padding: 10px;
    border-radius: 50%;
}

#myBtn i {
    color: #061f47;
    font-size: 20px;
    font-weight: bolder
}

#myBtn:hover {
    background-color: #eee;
}


/*End Back To Top*/


/*Subscribe & search*/

@media (max-width: 567px) {}

.subscribe .form-control {
    height: 70px;
    background-color: #fff;
    font-size: 22px;
    color: #222;
    border-top-right-radius: 28px !important;
    border-bottom-right-radius: 28px !important;
    border-bottom-left-radius: 28px !important;
    border-top-left-radius: 28px !important;
}

.subscribe .form-control:focus {
    background-color: #000;
    box-shadow: none;
    border: none;
    color: #fff;
}

.subscribe .search button {
    top: 10px;
    width: 120px;
    height: 50px;
    right: 10px;
    font-size: 17px;
    background-color: #2B5278;
    border-color: #265bf9;
    box-shadow: 0 4px 15px 0 #27CE8B;
    border-top-right-radius: 28px !important;
    border-bottom-right-radius: 28px !important;
    border-bottom-left-radius: 28px !important;
    border-top-left-radius: 28px !important;
    color: #fff !important;
}

.subscribe .search {
    width: 90%;
    margin: auto;
}

.subscribe .search button:hover {
    background-color: #4926f9;
    border-color: #7326f9;
}


/*End Subscribe*/


/*Footer*/

.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: rgb(255, 253, 253);
    color: #061f47 !important;
    position: relative;
}

footer a {
    text-decoration: none;
    color: #2a4e87 !important;
    font-weight: bold;
    transition: 0.3s;
}

footer a:hover {
    color: rgb(0, 0, 0) !important;
}

footer h5,
footer h6 {
    color: #2a4e87 !important;
}

footer img {
    max-width: 80px;
    margin: 10px;
}

footer .ver::after {
    content: "";
    position: absolute;
    border-right: 1px solid #153262;
    height: 160px;
    right: 35%;
    top: 20%;
    z-index: 1;
}

@media (max-width: 992px) {
    footer .ver {
        display: none;
    }
}

@media (max-width: 567px) {
    footer .firstFoot {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/*End Footer 1*/

.footer-2 {
    padding: 25px;
}

.footer-2 .copyText {
    color: #EEE !important;
    padding-top: 17px;
}

.bottomLogo {
    max-width: 200px !important;
    max-height: 200px;
}

@media (max-width: 567px) {
    .logoFoot img {
        display: block !important;
        margin-right: 20% !important;
    }
    .footerContent {
        display: block !important;
        text-align: center !important;
    }
}


/*Second footer*/


/*End Second footer*/


/*Media for Header*/


/* End Media for Header*/


/*Comparesion Page*/

.CompareHeading {
    color: #190f68 !important;
}