/*public*/

body {
    background-color: #EEE;
    height: 4000px;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
}


/*End Public*/


/*Header*/


/*1st Nav*/

.input-group img,
.nav-link img {
    max-width: 40px;
    border-radius: 50%;
}

.input-group select {
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
}

.input-group {
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
}

.input-group .form-control {
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
}


/*Media for Mobile*/

@media (min-width: 767.98px)and (max-width: 991px) {
    .input-group img,
    .nav-link img {
        max-width: 25px;
        border-radius: 50%;
    }
    .navF {
        display: inline-block !important;
    }
}


/**/

@media (min-width: 576px) and (max-width: 767px) {
    .input-group img,
    .nav-link img {
        max-width: 20px;
        border-radius: 50%;
    }
    .navF {
        display: inline-block !important;
    }
}


/*End Mobile Media*/


/*Medium devices (tablets, less than 992px)*/

@media (max-width: 991.98px) {
    .input-group img,
    .nav-link img {
        max-width: 30px;
        border-radius: 50%;
    }
}


/*End Medium*/


/*End 1st Nav*/


/*----------------------------*\
			Search
\*----------------------------*/

.header-search {
    padding: 15px 0px;
    width: 570px;
}

.header-search form {
    position: relative;
}

.header-search form .input-select {
    border-radius: 40px 0px 0px 40px;
    border: none;
    width: 50px;
    background-color: #fff;
}

.header-search form .input {
    margin-right: -4px;
    border: none;
}


/*Media for small screen*/


/*Media for Mobile*/

@media (min-width: 767.98px)and (max-width: 991px) {
    .header-search {
        max-width: 300px;
        min-width: 100px;
    }
    .header-search form .input {
        width: 100px;
    }
    .header-search form .input-select {
        width: 40px;
    }
    .LOGO {
        margin-left: 160px !important;
    }
}


/**/

@media (min-width: 576px) and (max-width: 767px) {
    .header-search {
        max-width: 180px;
        min-width: 60px;
    }
    .header-search form .input {
        width: 150px;
    }
    .header-search form .input-select {
        width: 30px;
    }
    .LOGO {
        margin-left: 120px !important;
    }
}

@media (max-width: 575px) {
    .header-search {
        max-width: 100px !important;
        min-width: 40px;
    }
    .header-search form .input {
        width: 60px;
    }
    .header-search form .input-select {
        width: 30px;
    }
}


/*End small screen*/


/*Medium devices (tablets, less than 992px)*/

@media (min-width: 991.98px) {
    .header-search form .input-select {
        width: 40px;
    }
    .header-search {
        max-width: 350px;
        min-width: 150px;
    }
    .header-search form .input {
        width: 200px;
    }
    .LOGO {
        margin-left: 100px !important;
    }
}


/*End Medium*/


/*----------------------------*\

/*second Nav*/

.nav2 a {
    color: white !important;
    font-size: 18px;
    transition: 0.3s;
}

.nav2 #main_nav .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav2 #main_nav .navbar-nav li a {
    padding-left: 5px;
}

.nav2 .navIcon {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.nav2 .navIcon .nav-link {
    padding-left: 2px;
    padding-right: 2px;
}

.nav2 a:hover {
    color: #EEE !important;
}

.nav2 .active {
    color: rgb(11, 11, 91) !important;
    text-decoration: underline;
}

.nav2 .dropdown-menu {
    background-color: #EEE;
}

.nav2 .dropdown-menu a {
    color: #222 !important;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }
    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}

@media(max-width:767px) {
    .nav2 navbar-nav {
        display: flex;
        flex-direction: row !important;
        padding-left: 5px;
        margin-bottom: 0;
        list-style: none;
    }
}


/* ============ desktop view .end// ============ */


/* ============ small devices ============ */

@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}


/* ============ small devices .end// ============ */


/*End Header*/


/*Landing Page*/

#cover {
    margin-top: 145px !important;
}

@media (max-width: 567px) {
    #carouselExampleControls {
        margin-top: 260px;
    }
}


/*End Landing Page*/


/*Services*/

.services .card img {
    max-width: 260px;
    min-width: 255px;
    min-height: 250px;
    max-height: 251px;
}

.services .card-header {
    background-color: #fff !important;
}

.services .card-header h4,
.services .card-header i {
    color: #061f47 !important;
}

.services .card-header i {
    font-size: 24px !important;
    font-weight: bold;
}


/*Media for small screen*/


/*Xs*/

@media (max-width: 575.98px) {
    .services .card img {
        max-width: 120px;
        min-width: 118px;
        min-height: 200px;
        max-height: 201px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .services .card img {
        max-width: 140px;
        min-width: 138px;
        min-height: 200px;
        max-height: 201px;
    }
}


/*End small screen*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .services .card img {
        max-width: 180px;
        min-width: 178px;
        min-height: 200px;
        max-height: 201px;
    }
}


/*End Medium*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .app .card img {
        max-width: 850px !important;
    }
}


/*End services*/


/*App*/

.app .card img {
    max-width: 1200px;
}

.app .card-header {
    background-color: #fff !important;
}

.app .card-header h4,
.app .card-header i {
    color: #061f47 !important;
}

.app .card-header i {
    font-size: 24px !important;
    font-weight: bold;
}


/*Xs*/

@media (max-width: 575.98px) {
    .app .card img {
        max-width: 300px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .app .card img {
        max-width: 500px !important;
    }
}


/*End small screen*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .app .card img {
        max-width: 650px !important;
    }
}


/*End Medium*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    .app .card img {
        max-width: 850px !important;
    }
}


/*End App*/

#brand h1 {
    color: #2c4f88 !important;
}


/*Top Brand*/


/*End Brand*/


/*Back to Top button*/

#myBtn {
    font-size: 10px;
    border: none;
    outline: none;
    background-color: #DDD;
    cursor: pointer;
    font-weight: bolder;
    padding: 10px;
    border-radius: 50%;
}

#myBtn i {
    color: #061f47;
    font-size: 20px;
    font-weight: bolder
}

#myBtn:hover {
    background-color: #eee;
}


/*End Back To Top*/


/*Subscribe & search*/

.form-control {
    display: block;
    width: 60%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .575rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-right: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-left: 150px;
}

form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #268ff9 !important;
    outline: 0;
    box-shadow: none;
}

.border-rad {
    border-top-right-radius: 28px !important;
    border-bottom-right-radius: 28px !important;
    border-bottom-left-radius: 28px !important;
    border-top-left-radius: 28px !important;
    color: #fff !important;
    background-image: linear-gradient(to right, #190f68, #484b75, #801cae, #343f62);
    border-color: #265bf9;
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    margin-right: 150px;
}

.border-rad:hover {
    background-color: #4926f9;
    border-color: #7326f9;
}


/*Footer*/

.text-small {
    font-size: 0.9rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover,
a:focus {
    text-decoration: none;
}

.form-control {
    background: #212529;
    border-color: #545454;
}

.form-control:focus {
    background: #212529;
}

footer {
    background: rgb(255, 253, 253);
    color: #061f47 !important;
    position: relative;
}

footer a {
    text-decoration: none;
    color: #2a4e87 !important;
    font-weight: bold;
    transition: 0.3s;
}

footer a:hover {
    color: rgb(0, 0, 0) !important;
}

footer h5,
footer h6 {
    color: #2a4e87 !important;
}

footer img {
    max-width: 80px;
    margin: 10px;
}

footer .ver::after {
    content: "";
    position: absolute;
    border-right: 1px solid #153262;
    height: 160px;
    right: 35%;
    top: 20%;
    z-index: 1;
}

@media (max-width: 992px) {
    footer .ver {
        display: none;
    }
}

@media (max-width: 567px) {
    footer .firstFoot {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/*End Footer 1*/

.footer-2 {
    padding: 25px;
}

.footer-2 .copyText {
    color: #EEE !important;
    padding-top: 15px;
}

.bottomLogo {
    max-width: 100px !important;
    max-height: 100px;
}


/*Second footer*/


/*End Second footer*/


/*Media for Header*/


/* End Media for Header*/