#sliderButton {
    margin-top: 15% !important;
}

@media (max-width: 767px) {
    #sliderButton .carousel-inner .carousel-item>div {
        display: none;
    }
    #sliderButton .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}


/*Large Screen*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    #sliderButton {
        margin-top: 20% !important;
    }
}

#sliderButton .carousel-inner .carousel-item.active,
#sliderButton .carousel-inner .carousel-item-next,
#sliderButton .carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3% !important;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}


/* medium and up screens */

@media (min-width: 768px) {
    #sliderButton .carousel-inner .carousel-item-end.active,
    #sliderButton .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    #sliderButton .carousel-inner .carousel-item-start.active,
    #sliderButton .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

#sliderButton .carousel-inner .carousel-item-end,
#sliderButton .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.arowRight span,
.arowLeft span {
    background-color: #2ca550 !important;
    border-radius: 50%;
    color: #fff !important;
    margin-top: 1%;
}


/*
@media (min-width:992px) {
    .arowRight,
    .arowLeft {
        display: contents !important;
    }
}
*/

#sliderButton .carousel-item .sliderCol {
    width: 25%
}

#sliderButton .carousel-item .sliderCol button {
    width: 80% !important;
}

@media (max-width: 575.98px) {
    #sliderButton .carousel-item .sliderCol {
        width: 50%
    }
    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15% !important;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }
    #sliderButton .carousel-item .sliderCol button {
        width: 50% !important;
    }
    #sliderButton {
        margin-top: 52% !important;
    }
    #sliderButton .carousel-inner .carousel-item-next,
    #sliderButton .carousel-inner .carousel-item-prev {
        padding-bottom: 5% !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #sliderButton .carousel-item .sliderCol {
        width: 40% !important;
    }
    #sliderButton {
        margin-top: 35% !important;
    }
    #sliderButton .carousel-inner .carousel-item>div {
        display: none;
    }
    #sliderButton .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
    .carousel-control-next,
    .carousel-control-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5% !important;
        padding: 0;
        color: #fff;
        text-align: center;
        background: 0 0;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        opacity: .5;
        transition: opacity .15s ease;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #sliderButton .carousel-item .sliderCol {
        width: 50% !important;
    }
    #sliderButton {
        margin-top: 42% !important;
    }
}