#sliderButton {
    margin-top: 260px !important;
}

@media (max-width: 767px) {
    #sliderButton .carousel-inner .carousel-item>div {
        display: none;
    }
    #sliderButton .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#sliderButton .carousel-inner .carousel-item.active,
#sliderButton .carousel-inner .carousel-item-next,
#sliderButton .carousel-inner .carousel-item-prev {
    display: flex;
}


/* medium and up screens */

@media (min-width: 768px) {
    #sliderButton .carousel-inner .carousel-item-end.active,
    #sliderButton .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    #sliderButton .carousel-inner .carousel-item-start.active,
    #sliderButton .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

#sliderButton .carousel-inner .carousel-item-end,
#sliderButton .carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.arowRight span,
.arowLeft span {
    background-color: #4f6486 !important;
    border-radius: 50%;
    color: #fff !important;
    padding: 5%;
}

#sliderButton .carousel-item .sliderCol {
    width: 25% !important;
}

#sliderButton .carousel-item .sliderCol button {
    width: 80% !important;
}

@media (max-width: 575.98px) {
    #sliderButton .carousel-item .sliderCol {
        width: 50% !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #sliderButton .carousel-item .sliderCol {
        width: 50% !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #sliderButton .carousel-item .sliderCol {
        width: 50% !important;
    }
}