/*Tv section*/

body {
    background-color: #EEE !important;
}


/*Heading*/

.mainDev {
    display: grid;
}


/*Filter Section*/

.filter h6 {
    position: relative;
}

.filter .iconBottom {
    margin-left: 200px;
}

@media (max-width: 767.98px) {
    .border-sm-start-none {
        border-left: none !important;
    }
}

.filter h6::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    width: 100%;
    background: #DDD;
    height: 2px;
    /* optional animation */
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}


/*Product Card*/

#tvProduct {
    margin-top: 250px;
}

#table .card {
    margin-left: 300px !important;
}


/*End Product Card*/


/*Xs*/

@media (max-width: 575.98px) {
    .sort,
    .filter {
        background-color: #fff !important;
        padding: 10px;
        max-width: 180px;
        min-height: 100px;
    }
    .strikethrough {
        position: relative;
    }
    .strikethrough {
        position: relative;
    }
    .strikethrough:before {
        position: absolute;
        content: "";
        left: 30%;
        bottom: 50%;
        right: 0;
        width: 50px;
        border-top: 1px solid red !important;
        border-color: inherit;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    .container .card .tickt {
        position: absolute;
        margin-left: 220px !important;
    }
    .card img {
        max-width: 220px !important;
    }
    .card .tickt {
        max-width: 30px !important;
    }
    .allButton {
        display: none !important;
    }
    .aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    button {
        margin-bottom: 10px !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .navF {
        width: 100%;
    }
    .container .card .tickt {
        position: absolute;
        margin-left: 320px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container .card .tickt {
        position: absolute;
        margin-left: 320px !important;
    }
    .navF {
        width: 100%;
    }
    .strikethrough {
        position: relative;
    }
    .strikethrough {
        position: relative;
    }
    .strikethrough:before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 50%;
        right: 10%;
        width: 50px;
        border-top: 1px solid red !important;
        border-color: inherit;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}


/**/

.sort,
.filter {
    background-color: #fff !important;
    padding: 10px;
    min-width: 180px;
    margin-bottom: 10px;
    min-height: 100px;
}

#tvProduct h2 {
    color: #061f47 !important;
    padding-left: 20px;
}

.driver {
    border-top: 1px solid #EEE;
}

.lightButton {
    background-color: #EEE !important;
    border-radius: 10px !important;
}

.lightButton a {
    color: #113265 !important;
}

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    right: 0;
    width: 100px;
    border-top: 1px solid red !important;
    border-color: inherit;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}


/*product card*/

.container .card {
    position: relative;
}

.container .card .tickt {
    position: absolute;
    margin-left: 600px !important;
}

.product img {
    max-width: 300px;
}

.product .tickt {
    max-width: 50px !important;
}


/*Arrow */