#tvProduct {
    margin-top: 260px;
}


/**/

.sort,
.filter {
    background-color: #fff !important;
    padding: 10px;
    min-width: 180px;
    margin-bottom: 10px;
    min-height: 100px;
}

#tvProduct h2 {
    color: #061f47 !important;
    padding-left: 20px;
}