#tvProduct {
    margin-top: 260px;
}


/**/

.sort,
.filter {
    background-color: #fff !important;
    padding: 10px;
    min-width: 180px;
    margin-bottom: 10px;
    min-height: 100px;
}

#tvProduct h2 {
    color: #061f47 !important;
    padding-left: 20px;
}


/*Accod Button */

.accordion-item h2 {
    padding-left: 0 !important;
}

.smallScreen {
    display: none;
}

.LargeScreenFilter {
    display: block;
}

@media (max-width: 575.98px) {
    .smallScreen {
        display: block !important;
    }
    .LargeScreenFilter {
        display: none;
    }
    .accordion-item {
        width: 85%;
        margin: auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .smallScreen {
        display: block !important;
    }
    .LargeScreenFilter {
        display: none;
    }
    .accordion-item {
        width: 85%;
        margin: auto;
    }
}


/*End Acco Style*/