body {
    background-color: #EEE !important;
}

.sort,
.compare,
.filter {
    background-color: #fff !important;
    padding: 10px;
    min-width: 180px;
    margin-bottom: 10px;
    min-height: 100px;
}

#tvProduct h2 {
    color: #061f47 !important;
    padding-left: 20px;
}


/*product card*/

.container .card {
    position: relative;
}

.container .card .tickt {
    position: absolute;
    right: 3%
}

.container .card .card-header {
    padding-right: 10%;
}

.product img {
    max-width: 300px;
}

.product .tickt {
    max-width: 50px !important;
}


/*Line through*/

.strikethrough {
    position: relative;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    right: 0;
    width: 100px;
    border-top: 1px solid red !important;
    border-color: inherit;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}


/*Arrow */

.arrowStart,
.arrowEnd {
    background-color: #ddd !important;
    border-radius: 50% !important;
    font-weight: bold;
}

.arrowStart i {
    color: rgb(10, 10, 78);
    font-size: 18px !important;
}

.driver {
    border-top: 1px solid #EEE;
}

.TVHeading {
    color: #2B5278 !important;
    padding-bottom: - 100px;
}

.filter h6 {
    border-bottom: 1px solid #061f47;
    color: #2B5278 !important;
}

.lightButton {
    background-color: #EEE !important;
    border-radius: 10px !important;
}

.lightButton a {
    color: #2B5278 !important;
}

.lightButton:hover {
    background-color: #095939 !important;
}

.lightButton a:hover {
    color: #fff !important;
}


/*End Card Product*/


/*Xs*/

@media (max-width: 575.98px) {
    .strikethrough:before {
        position: absolute;
        content: "";
        left: 30%;
        bottom: 50%;
        right: 0;
        width: 100px;
        border-top: 1px solid red !important;
        border-color: inherit;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    .sort,
    .compare,
    .filter {
        background-color: #fff !important;
        padding: 10px;
        max-width: 180px;
        margin-bottom: 10px;
        min-height: 100px;
        margin-left: 20px;
    }
    .container .card .tickt {
        position: absolute;
        right: 3%;
    }
    .product img {
        max-width: 80%;
    }
    .card .tickt {
        max-width: 30px !important;
    }
    .arrowStart,
    .arrowEnd {
        display: none !important;
    }
    .card .TVHeading {
        font-size: 16px !important;
    }
    .card h4 {
        font-size: 16px;
    }
    .card h5 {
        font-size: 14px;
    }
    .cardP {
        display: contents !important;
        text-align: center;
    }
    .driver {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
    .driver button {
        margin-top: 2%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container .card .tickt {
        position: absolute;
        right: 3%;
    }
    .arrowStart,
    .arrowEnd {
        display: none !important;
    }
    .navF {
        width: 100%;
    }
    .driver button {
        margin-top: 2%;
    }
}


/*End small screen*/


/*Medium Screen*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .container .card .tickt {
        position: absolute;
        margin-left: 85% !important;
    }
    .navF {
        width: 100%;
    }
    .driver button {
        margin-top: 2%;
    }
}


/*Accod Button */

.accordion-item h2 {
    padding-left: 0 !important;
}

.smallScreen {
    display: none;
}

.LargeScreenFilter {
    display: block;
}

@media (max-width: 575.98px) {
    .smallScreen {
        display: block !important;
    }
    .LargeScreenFilter {
        display: none;
    }
    .accordion-item {
        width: 85%;
        margin: auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .smallScreen {
        display: block !important;
    }
    .LargeScreenFilter {
        display: none;
    }
    .accordion-item {
        width: 85% !important;
        margin: auto;
    }
    .accoSmall {
        width: 100% !important;
    }
}


/*End Acco Style*/