#navButton {
    margin-top: 180px !important;
}

body {
    background-color: #EEE !important;
}

.TopHeading {
    color: rgb(5, 5, 77);
    padding-bottom: 20px;
    margin-left: 20px;
}

#otherProduct h3 {
    margin-left: 100px !important;
}

.card img {
    max-width: 300px;
}

@media (max-width: 575.98px) {
    button {
        margin-bottom: 10px !important;
    }
    .card img {
        max-width: 200px;
    }
    .card .TVHeading {
        font-size: 16px !important;
    }
    .card h4 {
        font-size: 16px;
    }
    .card h5 {
        font-size: 14px;
    }
    .cardP {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
    .cardP img {
        max-width: 150px;
    }
    .card {
        padding: 10px;
        margin: 5px;
    }
    .allButton {
        display: none !important;
    }
    #navButton .ButtonContent {
        display: flex;
        flex-direction: column;
    }
    #navButton {
        margin-top: 280px !important;
    }
    #navButton button {
        margin: 10px;
        max-width: 180px;
    }
    .navF {
        width: 100%;
    }
}


/*Small&Meduim Screen */

@media (min-width: 576px) and (max-width: 767px) {
    #navButton .ButtonContent {
        display: flex;
        flex-direction: column;
    }
    .navF {
        width: 100%;
    }
    .container .card .tickt {
        position: absolute;
        margin-left: 260px !important;
    }
    .arrowStart,
    .arrowEnd {
        display: none !important;
    }
    #navButton button {
        margin: 10px;
        max-width: 100px;
    }
    #navButton {
        margin-top: 250px !important;
    }
    .navF {
        width: 100%;
    }
}


/*End small screen*/


/*Medium Screen*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .container .card .tickt {
        position: absolute;
        margin-left: 320px !important;
    }
    .navF {
        width: 100%;
    }
    #navButton button {
        margin: 10px;
        max-width: 100px;
    }
    .card {
        padding: 10px;
        margin: 5px;
    }
}