#navButton {
    margin-top: 180px !important;
}

body {
    background-color: #EEE !important;
}

.TopHeading {
    color: rgb(5, 5, 77);
    padding-bottom: 20px;
    margin-left: 20px;
}

#otherProduct h3 {
    margin-left: 100px !important;
}